<!doctype html>
<html lang="en">

<head>
	<title></title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

	<link rel="stylesheet" href="/stylesheets/style.css">

	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

	<script src="/javascripts/custom.js"></script>
</head>

<body class="bg-info"">
	<div class=" container container-fluid">
	<div class="row">

		<p id="id1"></p>
		<input type="hidden" id="questionSet" value="<%= questionSet %>" />
		<input type="hidden" id="iVariable" value="<%= i %>" />
		<div class="row">
			<div class="row">
				<h3><span class="label label-warning" id="qid"><%=getOnlyOneQuestion[i].id%></span>
					<%=getOnlyOneQuestion[i].content%>
				</h3>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-3 col-xs-offset-5">
					<div id="loadbar" style="display: none;">
						<div class="blockG" id="rotateG_01"></div>
						<div class="blockG" id="rotateG_02"></div>
						<div class="blockG" id="rotateG_03"></div>
						<div class="blockG" id="rotateG_04"></div>
						<div class="blockG" id="rotateG_05"></div>
						<div class="blockG" id="rotateG_06"></div>
						<div class="blockG" id="rotateG_07"></div>
						<div class="blockG" id="rotateG_08"></div>
					</div>
				</div>
				<div class="quiz" id="quiz" data-toggle="buttons">
					<%allData.forEach(function(index){ if(index.quesID === getOnlyOneQuestion[i].id ){%>
					<label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value=<%=index.ansID%>>
						<input type="hidden" id="isTrue" value=<%=index.isCorrect%>>
						<p><%=index.answerContent%></p>
					</label>
					<%}})%>
				</div>
			</div>
			<hr>
			<div class="row">
				<span id="answer"></span>
				<button id="idQuestion" class="pull-right btn btn-primary">Next</button>
			</div>
		</div>
	</div>
	</div>
</body>

</html>